
body{
background-color: honeydew;
color: darkslategray;
}

/*
How to assign style by div id:

#oldck{
	background-color: blue;
	color: white;
}

#mort_stats{
	color: lightgrey;
}

etc. etc.

*/
.grey{
	background-color: beige;
	color: darkslategray;	
}

.grouper{
	color: black;
	font-weight: bold;
	font-size: 18px;

}

.container {
  display: grid;
  grid-template-columns: 225px auto;
  grid-template-areas: 
  	"header header"
    "sidebar mainbit"
}

.header{
	grid-area: header;
}

.sidebar{
	grid-area: sidebar;
}

.content{
	grid-area: mainbit;
}